<!-- ======= Header ======= -->
  <header id="header" class="header py-0">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
      <%= image_tag "logo.png", class:"logo-img" %>
        <span>QuickCharge</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <%
=begin%>
 <% @categories.each do |category| %>
                    <% if category.products.any? %>
                        <li class="dropdown"><a href="#"><span><%= category.name %></span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <% category.products.each do |product| %>
                            <li><a href="/product/<%= product.id %>"><%= product.name %></a></li>
                            <% end %>
                        </ul>
                        </li>
                    <% else %>
                        <li><a href="/category/<%=category.id%>"><%= category.name %></a></li>
                    <% end %>
                <% end %> 
<%
=end%>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <% if current_user %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link scrollto mx-4 color-1 font-1" %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path, class:"nav-link" %></li>
            <li><%= link_to "Register", new_user_registration_path, class:"nav-link" %></li>
          <% end %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->